Flask==2.2.5
Flask-Cors==5.0.0
easyocr==1.7.2
numpy==2.2.2
opencv-python-headless==4.11.0.86
python-bidi==0.6.3
PyYAML==6.0.2
torch==2.5.1
torchvision==0.20.1
Werkzeug==2.2.3
Pillow==11.1.0
gunicorn==21.2.0
scikit-image==0.25.0
